<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.devsty.vc3">

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.front" />
    <uses-feature android:name="android.hardware.microphone" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name="com.unisob.vclibs.Applicationclass"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.DevStyVC"
        android:usesCleartextTraffic="true"
        tools:targetApi="32">
        <activity
            android:name="com.devsty.vc3.MainActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.devsty.vc3.Splash_Activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name="com.unisob.vclibs.mads.SplashActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing|stateAlwaysHidden|stateHidden" />

        <activity
            android:name="com.unisob.vclibs.mads.ADS_SplashActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing|stateAlwaysHidden|stateHidden" />
        <activity
            android:name="com.unisob.vclibs.activties.HomePageActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing|stateAlwaysHidden|stateHidden" />

        <activity
            android:name="com.unisob.vclibs.activties.PravacyPolicyActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing|stateAlwaysHidden|stateHidden" />

        <activity
            android:name="com.unisob.vclibs.activties.VideoPlayerActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing|stateAlwaysHidden|stateHidden" />

        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />

        <activity
            android:name="com.unisob.vclibs.unitlity.TestActivity_1"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.unisob.vclibs.unitlity.TestActivity_2"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.unisob.vclibs.unitlity.TestActivity_3"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.unisob.vclibs.unitlity.TestActivity_4"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.unisob.vclibs.unitlity.TestActivity_5"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.unisob.vclibs.unitlity.TestActivity_6"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.unisob.vclibs.unitlity.TestActivity_7"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.unisob.vclibs.unitlity.TestActivity_8"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.unisob.vclibs.unitlity.TestActivity_9"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.unisob.vclibs.unitlity.TestActivity_10"
            android:screenOrientation="portrait" />

    </application>

</manifest>